
/****************************

Navbar

*****************************/

.navbar-default {
	background-color: #410F83;
	border-bottom-color: #000;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}
.navbar-nav {
	align-content: center;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	background-color: #FA3F04;
}
/*****************************

Jumbotron Section

*******************************/


.home-section {
	padding-top: 50px;
	text-align: center;
}

.main {
	height: 100%;
}

.jumbotron {
	background-color: #1447CA;
}

.jumbotron h1,
p {
	color: #fff;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.btn-primary {
	color: #000;
	background-color: #FA3F04;

}

.btn-primary:hover {
	color: #000;
	background-color: #fff;
}

/****************************

Bot Section - Start

*****************************/
#bot {
	height: 100%;
	padding-top: 0px;
	padding-bottom: 30px;
	background: #fff;
}

#bot p {
	color: black;
	text-shadow: none;
}

.blocktext {
	margin: 0 auto;
	width: 550px;
}



.chat {
	width: 550px;
	padding: 8px 5px 8px 0px;
	position: relative;
}


.bot-image {
	vertical-align: middle;
	position: relative;
	float: left;
	top: 50%;
	border-radius: 10%;
}

.bot-head {
	margin-top: -4px;
	margin-bottom: 0px;
	margin-left: 50px;
	vertical-align: text-top;
	position: relative;
}

.user-text {
	margin-bottom: 0px;
	margin-left: 50px;
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
}

.bot-text {
	display: inline-block;
	padding-bottom: 5px;
}

.user {
	font-weight: 700;
	font-family: 'Oswald', sans-serif;
}


.time {
	font-weight: 200;
	font-family: 'Oswald', sans-serif;
	font-size: 13px;
}

.info {
	font-weight: 300;
	font-family: 'Oswald', sans-serif;
	font-size: 13px;
}

.app {
	background-color: #F7F7F7;
	color: #ABABAC;
}

.border {
	border-left: 5px solid #E65100;
	padding: 2px 5px 10px 7px;
	margin-top: 5px;
	margin-left: 50px;
	border-radius: 3px;
	height: auto;
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
}

img {
	height: 40px;
	width: auto;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid blue;
  margin-left: 5px;
  display: inline-block;
}

/****************************

Bot Section - End

*****************************/

.commands-section {
	height: 100%;
	padding-top: 1.5%;
	text-align: center;
	background: #B54D46;
}

.commands-section h1 {
	padding-bottom: 1.5%;
}

.commands-section p {
	color: #000;
	text-shadow: none;
	padding: none;
	margin: none;
	font-family: "courier new", "courier";
	font-weight: bold;
}

.card-img-top {
	height: 200px;
	width: 200px;
}

.footer-section {
	height: 100%;
	padding-top: 2%;
	text-align: center;
	background: #fff;
}

.footer-section p {
	color: black;
	font-size: 14px;
	text-decoration: none;
	text-shadow: none;
	padding: 1.5%;
}


/*hr {
	width: 100%;
	border-top: 2px solid rgba(34, 34, 34, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);     Adds the effect of having a shadow.  Works best on lighter backgrounds.
    margin-top: 0;
    margin-bottom: 0;
}*/

#content {
	text-align: center;
	/*padding-top: 25%;*/
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 6px 10px rgba(0,0,0,0.1);           /*creates a good looking gray shadow effect*/
				
}