
/****************************

Navbar

*****************************/

.navbar-default {
	background-color: #410F83;
	border-bottom-color: #000;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}
.navbar-nav {
	align-content: center;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	background-color: #FA3F04;
}
/*****************************

Jumbotron Section

*******************************/
.home-section {
	padding-top: 50px;
	text-align: center;
}

.main {
	height: 100%;
}

.jumbotron {
	background-color: #1447CA;
}

.jumbotron h1,
p {
	color: #fff;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.btn-primary {
	color: #000;
	background-color: #FA3F04;

}

.btn-primary:hover {
	color: #000;
	background-color: #fff;
}


.bot-section {
	height: 100%;
	padding-top: 100px;
	text-align: center;
	background: #fff;
}

.commands-section {
	height: 100%;
	padding-top: 100px;
	text-align: center;
	background: #B54D46;
}

.footer-section {
	height: 100%;
	padding-top: 100px;
	text-align: center;
	background: #fff;
}


/*hr {
	width: 100%;
	border-top: 2px solid rgba(34, 34, 34, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);     Adds the effect of having a shadow.  Works best on lighter backgrounds.
    margin-top: 0;
    margin-bottom: 0;
}*/

#content {
	text-align: center;
	/*padding-top: 25%;*/
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 6px 10px rgba(0,0,0,0.1);           /*creates a good looking gray shadow effect*/
				
}